body{
    background-color:rgb(174, 170, 212);  
    color: rgb(32, 46, 180);
}

.btn{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(70, 56, 148); 
    min-width: 100px;   
}

.btn:hover{
    min-width: 1000px;
}

#res{
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: cadetblue;
}